.signUp{
  display: block;
  margin: 30px auto;
  width: 200px;
  height: 50px;
  outline: none;
  background: #095c9d;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}